<div class="modal fade" id="confirm-modal" tabindex="-1" aria-labelledby="confirm-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header custom-modal-header">
                <h5 class="modal-title" id="confirm-modal-label">Confirmar acción</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- El mensaje de confirmación se establecerá dinámicamente -->
                ¿Está seguro que desea realizar esta acción?
            </div>
            <div class="modal-footer custom-modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-button">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirm-button">Confirmar</button>
            </div>
        </div>
    </div>
</div>